.body{
    font-family: Montserrat;
}


.sidebar {
    position: absolute;
    background-color: #1C1A1D;
    bottom: 0;
    left: 0;
    top: 0;
    width: 17%;
    z-index: 900;
}

.main {
    background: url(../image/background.jpg);
    bottom: 0;
    left: 17%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.main h1{
    text-align: center;
    color: #1C1A1D;
 }

.entry {
    margin-left: 5.2%;
    font-family: Open Sans Condensed;
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(151,6,86);
}

.records_list{
    margin: 0 auto;
    text-align: center;
    font-family: Open Sans Condensed;
    font-size: 1.5em;
    width: 90%;
}

th {
    background-color: #1C1A1D;
    opacity: 0.5;
    color: white;
}

td {
    min-width: 100px;
    background-color: rgba(0,0,0,0.1);
}


.logo {
}
    

.logo h2{
    text-align: center;
    color: #333333;
    font-family: Oswald;
    font-size: 2em;
    font-weight: 700; 
    letter-spacing: 0.12em;
    
}


.logo h2:before {
    content: url(../image/hat.png);
    top: 10px;
   
    
}

.menu {
    margin-top: 80px;
    
}

ul {
    padding-left: 0px;
    margin: 0;
}

li {
    list-style: none;
    
}

li a{
    text-decoration: none;
    
}

li a p {
    
    color: white;
    font-family: Open Sans Condensed;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #333337;
    margin-top: 1px;
    font-size: 1.3em;
    margin-bottom: 1px;
    height : 50px;
    letter-spacing: 0.02em;
}

li a p:hover{
     background-color: #c75e40;
}

.entreprise:before{
    content: url(../image/0004-office.png);
     filter: invert(1);
    -webkit-filter: invert(1);
    margin-right: 20px;
}

.stagiaire:before{
    content: url(../image/0115-users.png);
     filter: invert(1);
    -webkit-filter: invert(1);
    margin-right: 20px;
}

.formateur:before{
    content: url(../image/0119-user-tie.png);
     filter: invert(1);
    -webkit-filter: invert(1);
    margin-right: 20px;
}

.formation:before{
    content: url(../image/0032-book.png);
     filter: invert(1);
    -webkit-filter: invert(1);
    margin-right: 20px;
}

.session:before{
    content: url(../image/0084-calendar.png);
     filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    margin-right: 20px;
}

.deconnexion:before{
    content: url(../image/0277-exit.png);
     filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    margin-right: 20px;
}


.box-size{
    background-color: rgba(0,0,0,0.5);
    width: 33.05%;
    height: 49.8%;
    float: left;
    margin-left: 0.1em;
    margin-top: 0.1em;    
}

.box-size:hover{
    background-color: #c75e40;    
}

.box-size img{
    margin-left: 38%;
    margin-top: 33%;
    width: 25%;
    height: 25%;
   color: white;
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
}


.box-size h3{
    font-family: Open Sans Condensed;
    text-align: center;
    font-size: 180%;
     letter-spacing: 0.03em;
    color: white;
    margin-top: 0;
    
}

#appbundle_entreprise{
    margin: 0 auto;
}

.required{
    margin-left: 39%;
    display: block;
    width: 100px;
    float: left;
    font-family: Open Sans Condensed;
}

.record_actions{
    text-align: center;
}

#appbundle_formation_submit{
    margin-left: 47.5%;
}

#appbundle_entreprise_submit{
    margin-left: 47.5%;
}

#appbundle_formateur_submit{
    margin-left: 47.5%;
}

#appbundle_session_submit{
    margin-left: 47.5%;
}
